<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
         style="border-bottom: 1px solid var(--bs-gray-600); border-top: 1px solid var(--bs-gray-600);">
        <div class="container-fluid">
            <img src="https://media.istockphoto.com/id/588258370/vector/male-avatar-profile-picture-vector.jpg?s=612x612&w=0&k=20&c=HySLtDNJEd_wzsAjchZxWstBToxkMHSI2rKHNss7CD0="
                 class="navbar-brand rounded-circle" style="width: 9rem; height: 9rem"/>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-100 flex-lg-row flex-column mb-2 mb-lg-0 justify-content-lg-between align-items-center">
                    <li class="nav-item">
                        <a class="nav-link text-light border border-primary rounded-pill px-4" aria-current="page" href="#">About Me</a>
                    </li>
                    <li class="nav-item ms-lg-auto">
                        <a class="nav-link text-light" aria-current="page" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>