<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark header"
         style="border-bottom: 1px solid var(--bs-gray-600);
         border-top: 1px solid var(--bs-gray-600);
         background: linear-gradient(135deg, var(--bs-gray-800) 0%, var(--bs-black) 100%);">
        <div class="container-fluid position-relative">
            <a th:href="@{'/' + ${#locale.language} + '/'}"><img th:src="@{/images/logo-myanswers.png}" alt="Logo"
                 class="navbar-brand ms-lg-5 ms-0" style="width: 10rem; height: 10rem"/></a>

            <div class="position-absolute top-0 end-0 me-lg-5 me-2 mt-2 d-flex gap-2" style="z-index: 2;">
                <a th:href="@{'/en/' + ${langPath != null ? langPath : ''}}"  class="btn btn-sm p-0 border-0 bg-transparent" aria-label="English">
                    <img th:src="@{/images/en-flag.png}" alt="English" style="width: 24px; height: 24px"/>
                </a>
                <a th:href="@{'/pt/' + ${langPath != null ? langPath : ''}}" class="btn btn-sm p-0 border-0 bg-transparent" aria-label="Português">
                    <img th:src="@{/images/pt-flag.png}" alt="Português" style="width: 24px; height: 24px"/>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-100 flex-lg-row flex-column mb-2 mb-lg-0 justify-content-lg-between align-items-center">
                    <li class="nav-item" >
                        <button class="nav-link text-light border border-primary rounded-pill px-4" aria-current="page" type="button" id="about_me" th:text="#{app.about.me}">About Me</button>
                    </li>
                    <li class="nav-item ms-lg-auto">
                        <a class="nav-link text-light me-lg-5 me-0" aria-current="page" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
