<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="mt-3 text-end" th:fragment="solution-explanation">
    <p>
        <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#solutionExplanation" aria-expanded="false" aria-controls="solutionExplanation">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span th:text="#{app.explanation.button}">Show Explanation</span>
        </button>
    </p>
    <div class="collapse" id="solutionExplanation">
        <div class="card card-body bg-dark text-light border-secondary" id="solutionExplanationContent">

        </div>
    </div>

</div>
</body>