* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    color: var(--bs-white);
}

a {
    text-decoration: none;
}

body {
    background-color: #1c1d21;
    margin-top: 2rem;
    min-height: calc(100vh - 195px);
}


.navbar .nav-link#about_me:hover {
    background-color: rgba(13, 110, 253, 0.2);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.3);
}

::placeholder {
    color: var(--bs-white) !important;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: var(--bs-white) !important;
}

::-moz-placeholder {
    color: var(--bs-white) !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--bs-white) !important;
}

input {
    border-color: var(--bs-gray-600) !important;
    color: var(--bs-white) !important;
}