* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    color: var(--bs-white);
}

a {
    text-decoration: none;
}

body {
    background-color: #1c1d21;
    margin-top: 2rem;
    min-height: calc(100vh - 195px);
}


.navbar .nav-link#about_me:hover {
    background-color: rgba(13, 110, 253, 0.2);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.3);
}

/* Ícones (SVG) */
.ql-toolbar .ql-stroke {
    stroke: var(--bs-white) !important;
}

.ql-toolbar .ql-fill {
    fill: var(--bs-white)  !important;
}

.ql-toolbar .ql-picker {
    color: var(--bs-white)  !important;
}

/* Container do dropdown */
.ql-toolbar .ql-picker-options {
    background: #1f2933 !important;      /* fundo escuro */
    border: 1px solid rgba(255,255,255,.15) !important;
}

.ql-toolbar .ql-picker-item {
    color: #ffffff !important;
}

.ql-toolbar .ql-picker-item.ql-selected {
    background: rgba(255,255,255,.15);
}

.ql-toolbar .ql-picker-item:hover {
    background: rgba(255,255,255,.2);
}

.ql-toolbar .ql-picker-label {
    color: #ffffff !important;
}

.ql-toolbar .ql-picker-label svg .ql-stroke {
    stroke: #ffffff !important;
}