<!DOCTYPE html>

<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Título</title>
    <meta charset="UTF-8"/>
    <meta name="robots" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- <link rel="icon" th:href="@{/image/logo.jpg}" /> -->
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-atom-dark.min.css" integrity="sha512-GZPS1oCebjx8g/ZkrTTvWirW+4wDkzIsilUQPXcZzuDpDzoH5brM2AojiFjo6ObIWeM68ZDostvdjaS9MNYCTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:opsz,wght@17..18,400..700&display=swap"
          rel="stylesheet">

</head>

<body class="d-flex flex-column">
<header th:insert="~{fragments/header :: header}"></header>
<main class="container mt-5 rounded" style="background-color: var(--bs-gray-700);">
    <div id="editor">
        <h1> Conversão de Tempo</h1>
        <h3><br></h3>
        <h3>Leia um valor inteiro, que é o tempo de duração em segundos de um determinado evento em uma fábrica, e
            informe-o expresso no formato horas:minutos:segundos.</h3>
        <h3><br></h3>
        <h3>Entrada</h3>
        <ol>
            <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span> O arquivo de entrada contém um
                valor inteiro N.
            </li>
        </ol>
        <h3><br></h3>
        <h3>Saída</h3>
        <ol>
            <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span> Imprima o tempo lido no arquivo de entrada (segundos), convertido para horas:minutos:segundos, conforme
                exemplo fornecido.
            </li>
        </ol>
        <h3><br></h3>
        <table>
            <tbody>
            <tr>
                <td data-row="1" class="ql-align-center">Exemplo de entrada</td>
                <td data-row="1" class="ql-align-center">Exemplo de Saída</td>
            </tr>
            </tbody>
        </table>
        <h3><br></h3>
        <table>
            <tbody>
            <tr>
                <td data-row="1" class="ql-align-justify">556</td>
                <td data-row="1" class="ql-align-justify">0:9:16</td>
            </tr>
            </tbody>
        </table>
        <h3><br></h3>
        <table>
            <tbody>
            <tr>
                <td data-row="1" class="ql-align-justify">1</td>
                <td data-row="1" class="ql-align-justify">0:0:1</td>
            </tr>
            </tbody>
        </table>
        <p><br></p>
        <p><br></p>
    </div>
    <div>
      <pre><code class="language-js">public class Main {

    public static void main(String[] args) throws IOException {

        Scanner sc = new Scanner(System.in);
        int number = sc.nextInt();
        List&lt;Integer&gt; numeros = new ArrayList&lt;&gt;();
        for(int i = 0; i&lt;=5;i++) {
            if(number%2!=0) {
                numeros.add(number);

            }
            else {
                i--;

            }
            number++;
        }
        numeros.stream().mapToInt(x -&gt; x).forEach(System.out::println);

        sc.close();

    }</code></pre>
    </div>
</main>

<script th:src="@{/webjars/jquery/jquery.min.js(v=${version}) }"></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/prism.min.js" integrity="sha512-KnX1xdVSdEHliREuSgUX9kgmit/Wk63n4X3cjoWfISEVsi2Qi2NW88dYyKXCCS8YcFMgzHywK3BIafTfhK2Tig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const quill = new Quill('#editor', {
        placeholder: 'Compose an epic...',
        theme: 'snow',
    });
</script>

</body>
</html>